
<div class="screen-app">
  <mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
      <div class="logo-container">
        @if(isSmallScreen){
          <img src="./assets/img/logo-app.png" alt="logo">
        }@else {
          <img src="./assets/img/simple-crm.png" alt="logo">
        }
      </div>
      <ul class="menu-list">
        <li routerLink="" routerLinkActive="router-link-active" ><mat-icon class="cursor-pointer">fact_check</mat-icon><span class="menu-item">Dashboard</span></li>
        <li routerLink="user" routerLinkActive="router-link-active" ><mat-icon class="cursor-pointer">perm_identity</mat-icon><span class="menu-item">User</span></li>
      </ul>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-icon class="cursor-pointer" (click)="drawer.toggle()">menu</mat-icon>
          <span>Simple CRM</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </mat-drawer-container>
</div>
<div class="portrait-format">
  <img src="./assets/img/logo-app.png" alt="logo">
  <span>Please turn your device.</span>
</div>


