<section>
@if (loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<mat-card appearance="outlined" class="user-detail-header">
  <figure>
    <img src="./assets/img/user.png" alt="User logo">
  </figure>
  <mat-card-content class="user-details">
    <h2>{{user?.firstName}} {{user?.lastName}}</h2>
    <p>{{user?.email}}</p>
  </mat-card-content> 
</mat-card>

<mat-card class="mt-32">
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{user?.street}} <br>
      {{user?.zipCode}} {{user?.city}}
    </p>
  </mat-card-content>
</mat-card>
</section>
