@import '../../helpers.scss';

section{
  position: relative;
  height: 90vh;
  @extend .d-center;
  .aot{
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    width: 100%;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    z-index: -100;
  }
  .headline{
    margin-top: -600px;
    h1{
      text-align: center;
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
      color: $blue;
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    }
  }
}

.arrow-container{
    position: absolute;
    top: 16px;
    right: 16px;
    @extend .d-center;
    justify-content: end;
    h3{
      font-weight: 700;
      margin: 0 !important;
      cursor: pointer;
    }
    .arrow{
      margin-right: 16px;
      animation: arrowMoveRight 0.65s ease-in-out infinite;
    }
}

@keyframes arrowMoveRight {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(10px);
  }
}

mat-grid-tile {
  background: lightblue;
}

.card-users-count{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.button-more{
  background-color: $blue !important;
  color: white !important;
  border-radius: 24px !important;
}

@media (min-width: 1440px) {
  .headline{
    margin-top: -410px !important;
  }
}

@media (max-width: 1200px) {
  h1{
    font-size: 32px  !important;
  }
  .arrow-container{
    display: none;
  }
  section{
    position: relative;
    height: 75vh;
  }
}

@media (max-width: 950px) {
  .headline{
    margin-top: -420px !important;
  }
}

@media (max-height: 420px) {
  .arrow-container{
    display: none !important;
  }
  h1{
    font-size: 24px !important;
  }
}

@media (max-height: 800px) {
  .headline{
    display: none !important;
  }
}