<h2>Dashboard</h2>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card appearance="outlined" class="card-users-count">
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
        <mat-card-subtitle data-cy="amount">Amount: {{amountUsers}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button data-cy="go-users-click" class="button-more" mat-flat-button [routerLink]="['user']" routerLinkActive="router-link-active" >See more</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="./assets/img/pen.jpg" alt="bussines pic">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="./assets/img/desktop.jpg" alt="bussines pic"></mat-grid-tile>
  <mat-grid-tile>
    <img src="./assets/img/business-pic.jpg" alt="bussines pic">
  </mat-grid-tile>
</mat-grid-list>
